.myContainer {
    background-image: url("./assets/image/bgGame.png");
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.player .listHand img,
.result img {
    width: 50px;
}

.player__img img {
    width: 150px;
}

.speech-bubble {
    position: relative;
    background: #45D994;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-top-color: #45D994;
    border-bottom: 0;
    border-left: 0;
    margin-left: -17.5px;
    margin-bottom: -35px;
}